@use "equal-styles";
@use "../colors/colors-columns";
@use "../mixins/mixins-columns";
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

.main-box {
  display: flex;
  padding: 10% 20% 5%;
  align-content: center;
  border-radius: 20%;
  flex-direction: column;
}

.main-box__button {
  @include mixins-columns.button(colors-columns.$color-Bright-orange);
  font-family: "Lexend Deca", sans-serif;
}

.car-title {
  font-family: "Big Shoulders Display", sans-serif;
  color: colors-columns.$colors-white;
  text-transform: uppercase;
}
.main-box > :first-child {
  @include mixins-columns.box(colors-columns.$color-Bright-orange);
}

.main-box > :nth-child(2) {
  @include mixins-columns.box(colors-columns.$color-Dark-cyan);
}

.main-box > :nth-child(3) {
  @include mixins-columns.box(colors-columns.$color-Very-dark-cyan);
}
.car-text {
  color: colors-columns.$colors-white;
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

@media (min-width: 600px) {
  .main-box {
    display: flex;
    flex-direction: row;
  }
}

.main-box__button:hover {
  background-color: transparent;
  color: colors-columns.$colors-white;
  border: solid;
  border-radius: 25px;

  border-color: colors-columns.$colors-white;
}
