@use "equal-styles";
@use "../colors/colors-columns";
@use "../mixins/mixins-columns";

.main-box {
  display: flex;
  padding: 10% 20% 5%;
  align-content: center;

  .main-box__box:first-child {
    @include mixins-columns.box(colors-columns.$color-Bright-orange);
  }

  .main-box:nth-child(2) {
    background-color: colors-columns.$color-Dark-cyan;
  }

  .main-box:nth-child(3) {
    background-color: colors-columns.$color-Very-dark-cyan;
  }
}

.main-box__button {
  @include mixins-columns.button(colors-columns.$color-Bright-orange);
}
