@use "../colors/colors-columns";

@mixin button($color) {
  border-radius: 100px;
  background-color: colors-columns.$colors-white;
  color: $color;
}

@mixin box($color) {
  background-color: $color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  height: 100%;
}
