@use "../colors/colors-columns";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

@mixin button($color) {
  background-color: colors-columns.$colors-white;
  color: $color;
  width: 60%;
  height: 50px;
  font-size: 15px;
  border-radius: 25px;
  border: 0;
  padding: 8px;
  transition: 0.2s;
  font-family: "Lexend Deca", sans-serif;
}

@mixin box($color) {
  background-color: $color;
  align-items: center;
  padding: 15%;
  flex: 1;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
