@use "../colors/colors-columns";

@mixin button($color) {
  background-color: colors-columns.$colors-white;
  color: $color;
  width: 60%;
  height: 50px;
  font-size: 15px;
  border-radius: 25px;
  border: 0;
}

@mixin box($color) {
  background-color: $color;
  align-items: center;
  padding: 3% 4% 5%;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
